# Git
.git
.gitignore
.gitattributes

# GitHub
.github

# IDE
.idea
.vscode
*.iml
*.iws
*.ipr

# Build
target/
build/
out/

# Testes
*.log
*.tmp

# Documentação
*.md
!README.md

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Maven
.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

